IO_LOC "clk" 75;        // 50Mhz
IO_PORT "clk" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;

IO_LOC "reset_n" 21;        // was 4, actually key0 on the board
IO_PORT "reset_n" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=OFF;

IO_LOC "user_n" 29;        // was 96, key1
IO_PORT "user_n" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=OFF;

// six leds_n
IO_LOC "leds_n[0]" 106;
IO_PORT "leds_n[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "leds_n[1]" 105;
IO_PORT "leds_n[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "leds_n[2]" 104;
IO_PORT "leds_n[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "leds_n[3]" 102;
IO_PORT "leds_n[3]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "leds_n[4]" 101;
IO_PORT "leds_n[4]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "leds_n[5]" 99;
IO_PORT "leds_n[5]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 

// WS2812B led
IO_LOC "ws2812" 98;
IO_PORT "ws2812" PULL_MODE=UP IO_TYPE=LVCMOS33;
