// the six on-board leds
IO_LOC "leds_n[5]" 20;
IO_PORT "leds_n[5]" PULL_MODE=UP DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "leds_n[4]" 19;
IO_PORT "leds_n[4]" PULL_MODE=UP DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "leds_n[3]" 18;
IO_PORT "leds_n[3]" PULL_MODE=UP DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "leds_n[2]" 17;
IO_PORT "leds_n[2]" PULL_MODE=UP DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "leds_n[1]" 16;
IO_PORT "leds_n[1]" PULL_MODE=UP DRIVE=4 IO_TYPE=LVCMOS33;
IO_LOC "leds_n[0]" 15;
IO_PORT "leds_n[0]" PULL_MODE=UP DRIVE=4 IO_TYPE=LVCMOS33;

// these are actually wired up magically internally
//IO_LOC "tck" 6;
//IO_PORT "tck" IO_TYPE=LVCMOS33;
//IO_LOC "tms" 5;
//IO_PORT "tms" IO_TYPE=LVCMOS33;
//IO_LOC "tdi" 7;
//IO_PORT "tdi" IO_TYPE=LVCMOS33;
//IO_LOC "tdo" 8;
//IO_PORT "tdo" IO_TYPE=LVCMOS33;

// digital video
IO_LOC "tmds_clk_p" 33,34;
IO_PORT "tmds_clk_p" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p[0]" 35,36;
IO_PORT "tmds_d_p[0]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p[1]" 37,38;
IO_PORT "tmds_d_p[1]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p[2]" 39,40;
IO_PORT "tmds_d_p[2]" PULL_MODE=NONE DRIVE=8;

// SPI PSRAM
IO_LOC "psram_csn" 32;
IO_PORT "psram_csn" IO_TYPE=LVCMOS33;
IO_LOC "psram_clk" 69;
IO_PORT "psram_clk" IO_TYPE=LVCMOS33;
IO_LOC "psram_io[0]" 75;
IO_PORT "psram_io[0]" IO_TYPE=LVCMOS33;
IO_LOC "psram_io[1]" 76;
IO_PORT "psram_io[1]" IO_TYPE=LVCMOS33;
IO_LOC "psram_io[2]" 86;
IO_PORT "psram_io[2]" IO_TYPE=LVCMOS33;
IO_LOC "psram_io[3]" 10;
IO_PORT "psram_io[3]" IO_TYPE=LVCMOS33;

// ws2812 led
IO_LOC "ws2812" 79;
IO_PORT "ws2812" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC "clk" 4;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
