IO_LOC "clk" 75;        // 50Mhz
IO_PORT "clk" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;

// 64Mbit NOR Flash (MSPI pins)
IO_LOC "mspi_cs" 16;
IO_PORT "mspi_cs" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "mspi_clk" 28;
IO_PORT "mspi_clk" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVCMOS33;
IO_LOC "mspi_wp" 24;
IO_PORT "mspi_wp" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
IO_LOC "mspi_hold" 144;
IO_PORT "mspi_hold" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "mspi_di" 27;
IO_PORT "mspi_di" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVCMOS33;
IO_LOC "mspi_do" 25;
IO_PORT "mspi_do" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVCMOS33;

// six leds_n
IO_LOC "leds_n[0]" 106;
IO_PORT "leds_n[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "leds_n[1]" 105;
IO_PORT "leds_n[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "leds_n[2]" 104;
IO_PORT "leds_n[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "leds_n[3]" 102;
IO_PORT "leds_n[3]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "leds_n[4]" 101;
IO_PORT "leds_n[4]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "leds_n[5]" 99;
IO_PORT "leds_n[5]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 

// HDMI is on bank 7
IO_LOC "tmds_clk_p" 129,130;
IO_PORT "tmds_clk_p" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_p[0]" 131,134;
IO_PORT "tmds_d_p[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_p[1]" 133,135;
IO_PORT "tmds_d_p[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_p[2]" 136,137;
IO_PORT "tmds_d_p[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
